<div class="outer-box">
  <h1>Fields marked in
    <span class="mandatory">*</span> are mandatory</h1>
  <div class="inner-box">
    <div class="form-group">
      <label class="labelClass">Hazard Name
        <span class="mandatory">*</span>
      </label>
      <input type="text" class="form-control inputWidth" autofocus [(ngModel)]="hazardDetails.hazardName" maxlength="50" #hazardName="ngModel"
        required/>
      <span class="section-Forerror" *ngIf="(hazardName.errors && (hazardName.dirty || hazardName.touched))">Kindly enter hazard name.</span>
    </div>
    <div class="form-group" *ngIf='!isHazardEdit'>
      <label class="labelClass">Status
      </label>
      <p-dropdown [options]="status" [(ngModel)]="hazardDetails.InActive" (onChange)="selectStatus(hazardDetails.InActive)"></p-dropdown>
    </div>
    <div class="form-group">
      <label class="labelClass">Upload hazard photo
        <span class="mandatory">*</span>
      </label>
      <app-file-upload [accept]="accept" [(inputFiles)]="hazardDetails.files">
      </app-file-upload>
    </div>
    <span class="section-Forerror leftsidemargin" *ngIf="(validateHazardFileAttachment && hazardDetails.files.length === 0)">Kindly upload hazard image.
    </span>
    <div class="form-group groupClass">
      <p-pickList [source]="sourceCompanyList" [target]="targetCompanyList" sourceHeader="Available Company" targetHeader="Selected Company"
        [responsive]="true" dragdrop="true" [sourceStyle]="{'height':'200px'}" [targetStyle]="{'height':'200px'}" (onMoveToTarget)="onMoveToTargetDetails($event)"
        (onMoveToSource)="onMoveToSourceDetails($event)">
        <ng-template let-company pTemplate="item">
          <div class="ui-helper-clearfix">
            <div class="pickListClass">{{company.companyName}}</div>
          </div>
        </ng-template>
      </p-pickList>
    </div>
    <span class="section-Forerror leftsidemargin" *ngIf="validationforPickList">Kindly select at least one company type.
    </span>


    <div class="text-center">
      <button class="back-btn" (click)="navigateToWelcomePage()">
        <i class="fa fa-reply"></i>Back to welcome page
      </button>
      <!-- <button class="active-btn blue" *ngIf='isHazardEdit'(click)='resetValue()'>
            <i class="fa fa-check"></i> Reset </button> -->
      <button class="active-btn blue" *ngIf='isHazardEdit' [class.btn-disabled]="!hazardDetails.hazardName" [disabled]="!hazardDetails.hazardName"
        (click)='CheckIsHazardActiveSaveHazardDetails(0)'>
        <i class="fa fa-check"></i> Save
      </button>
      <button class="active-btn blue" *ngIf='!isHazardEdit' [class.btn-disabled]="!hazardDetails.hazardName" [disabled]="!hazardDetails.hazardName"
        (click)='CheckIsHazardActiveSaveHazardDetails(1)'>
        <i class="fa fa-check"></i> Update
      </button>
    </div>
  </div>
</div>

<!-- Display into Grid -->
<div class="table-responsive design-table">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Hazard Name</th>
        <th>Company Name</th>
        <th>Status</th>
        <th width="12%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hazard of hazardDetailsResponse; let i = index">
        <!-- <td>{{location.CompanyName}}</td> -->
        <td>{{hazard.HazardName}}</td>
        <td>{{hazard.CompanyDetails.CompanyName}}</td>
        <td>{{hazard.InActive}}</td>
        <td>
          <a class="inline actions pointer" pTooltip="Edit details" tooltipPosition="top" (click)="editHazardDetails(hazard ,i)">
            <i class="fa fa-edit" style="cursor: pointer;"></i>
          </a>
          <a class="inline actions pointer" *ngIf="hazard.IsShowDelete" pTooltip="Delete details" tooltipPosition="top" (click)="deleteHazardDetails(hazard, i)">
            <i class="fa fa-trash" style="cursor: pointer;"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="norecordfound" *ngIf="hazardDetailsResponse.length == 0">
    <p>
      <b>No record found</b>
    </p>
  </div>
</div>
<!-- End to display into grid  -->
<app-alerts [alertType]="alertType" [confirmMessage]="confirmMessage" [successDetails]="successDetails" [errorDetails]="errorDetails"
  (okClicked)="resetValue()" (yesClicked)="onYesClickedForConfirmation()" (noClicked)="onNoClickedForConfirmation()"></app-alerts>