			
				<div class="page-content-wrapper">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="inner-wrapper">
								<div class="shield-title-wrapper"><div class="shield-title">HSE Shield</div></div>
							<div class="shield-wrapper">
								<div class="tiles-wrapper">
									<span class="tile-title obs-card"><a [routerLink]="['../observation/raise-observation', 'new']" >observation card</a></span>
									<span class="tile-title risk-register"><a [routerLink] = "['/risk/raise-risk', '0']">risk register</a></span>
									<span class="tile-title incident-management"><a  [routerLink] = "['/incident/raise-incident', 'new']">incident management</a></span>
									<span class="tile-title action-tracker"><a [routerLink] = "['/actiontracker/action-party-dashboard']" >action tracker</a></span>
									<span class="tile-title performance-management"><a href="">performance management</a></span>
									<span class="tile-title audit"><a href="">audit</a></span>
									<span class="tile-title library"><a href="">library</a></span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
		
	