<div class="sidebar">
  <div id="mySidenav" class="sidenav collapseWidth" [ngClass]="{ 'expandWidth': isExpand,  'collapseWidth': !isExpand}">
    <span class="close-wrapper">
      <i class="fa fa-times closebtn" (click)="toggleSideBar('closesidebar')"></i>
    </span>
    <div class="clearfix"></div>
    <!--<div class="links-wrapper" >
      <a *ngFor='let routerpath of routesFlag' routerLink={{routerpath.routeURL}} class="custom-margin">{{routerpath.routeName}}</a>
    </div>-->

    <ul class="sidebar-menu">
      <li *ngFor='let routerpath of routesFlag'>
        <a routerLink={{routerpath.routeURL}} class="custom-margin">{{routerpath.routeName}}</a>
      </li>
      <li *ngIf="isHSEAdvisor && reportRoutes.length > 0">
        <a class="custom-margin sub-menu">Reports
          <i class="fa fa-caret-right" aria-hidden="true" *ngIf="!expandSubMenu" (click)="toggleSubMenu('opensubmenu')"></i>
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="expandSubMenu" (click)="toggleSubMenu('closesubmenu')"></i>
        </a>
        <ul class="collapseHeight" *ngIf="expandSubMenu">
          <li *ngFor='let reportPath of reportRoutes'>
            <a routerLink={{reportPath.routeURL}}>{{reportPath.routeName}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <span class="open collapseLeft" (click)="toggleSideBar('opensidebar')" [ngClass]="{ 'expandLeft': isExpand, 'collapseLeft': !isExpand}">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </span>
</div>