.company-name{
    font-size: 12px;
    font-weight: 600;
    color: #555;
}
.hazards-wrapper .hazard-img{
    /*width: 50px;*/
    max-width: 100%;
    /*height: 38px;*/
}
/* browse file prime ng */
::ng-deep #wrapper .raise-obs-upload .ui-button-icon-left, .raise-obs-upload .ui-button-text{
    font-size: 13px;
}
::ng-deep #wrapper .raise-obs-upload .ui-fileupload-buttonbar{
    padding: 5px;
}
::ng-deep #wrapper .raise-obs-upload .ui-fileupload-row > div{
    padding: 0.3em 0.5em;
}
::ng-deep #wrapper .raise-obs-upload .ui-fileupload-content{
    padding: 0;
}
::ng-deep #wrapper .raise-obs-upload .file-upload-box{
    width: 100%;
}
::ng-deep .ui-fileupload-buttonbar .ui-button:hover, ::ng-deep .ui-widget-header .ui-button:enabled:hover{
    border: 1px solid #696969;
    background: #696969;
}
::ng-deep .ui-widget-content .ui-button, ::ng-deep .ui-widget-content .ui-button:enabled:hover{
    border: 1px solid #ac1e2e;
    background: #ac1e2e;
}
::ng-deep #wrapper .ui-calendar .ui-inputtext{
    border-bottom-color: #d6d6d6;
}