<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>  
    // !important: You want to give this variable(var googleLoaded = false;). This is used to run multiple chart in your jade.
    var googleLoaded = false;
    // !important: Define which chart packages to preload.Because this package uses ChartWrappers you can use any chart type that Google supports, but if it // isn't loaded it will load it on demand. 
    var googleChartsPackagesToLoad = ['geochart'];
</script>
<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
    <div class="container-fluid">
        <app-header></app-header>
        <router-outlet></router-outlet>
    </div>
</div>