.page-not-found-wrapper{
    display: table;
    width: 100%;
    min-height: 530px;
    text-align: center;
    background: linear-gradient(to bottom right, #5a5a5a, #b7b7b7);
    margin-top: 10px;
}
.page-not-found-wrapper p{
    display: table-cell;
    vertical-align: middle;
    font-size: 26px;
    color: #fff;
}
.page-not-found-wrapper p span{
    display: block;
}